@charset "utf-8";

@font-face {
   font-family: Champagne;
   src: url('./cac_champagne.woff'),
   url('./cac_champagne.ttf');
}

@font-face {
   font-family: Grunge;
   src: url('./1942.woff'),
   url('./1942.ttf');
}

@font-face {
   font-family: Dobkin;
   src: url('./DobkinPlain.woff'),
   url('./DobkinPlain.ttf');
}

/* Structural Styles */
html{
   background-color: (91, 8%, 56%);
}

header{
   background-color: black;
}

p{
   margin: 0;
   padding: 5px 25px 25px 25px;
}

body > *{
   font-size: 1.1em;
   text-align: center;

}

address{
   font-size: 0.9em;
   text-align: center;
   padding: 10px 0;
}

/* Navigation Styles */

nav a{
   font-family:'Trebuchet MS', Helvetica, sans-serif;
   padding: 10px 0;
}

nav ul li a{
   text-decoration: none;
   color: snow;
   background-color: hsla(0, 0%, 42%, 0.4);
}

nav ul li a:hover, nav ul li a:active{
   color: hsla(0, 0%, 100%, 0.7);
   background-color: hsla(0, 0%, 42%, 0.7);

}

/* Section Styles */

.playbill h1{
   font-size: 3em;
   font-weight: normal;
   margin: 0;
   padding: 20px 0 10px 20px;
}

#play1{
   background-color: hsl(240, 100%, 88%);
   font-family: 'Champange', cursive;
}

#play2{
   background-color: hsl(25, 88%, 73%);
   font-family: 'Grunge', 'Times New Roman', Times, serif;
}

#play3{
   background-color: hsl(0, 100%, 75%);
   font-family: Impact, Charcoal, sans-serif;
}

#play4{
   background-color: hsl(296, 86%, 86%);
   font-family: 'Dobkin', cursive;
}

section aside dl dt{
   font-size: 1.3 em;
   font-weight: bold;
   color: hsla(0, 0%, 0%, 0.4);
}

section aside dl dd{
   font-size: 1.3em;
   margin: 0 0 10px 0;

}
/* Description List Styles */

