 /*
    #e4e4e4
    #d1cdcd
    #782222
    #f99d1dj
    #dddddd
*/ 
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 15px;
    width: 100%;
}


.img-box{
    width: 180px;
    height: 180px;
    background-color: slategray;
    border: 8px solid rgb(138, 4, 31);
    border-radius: 100%;
    margin: 0 auto;
    background-image: url("../bestavt.jpg");
    background-position: center;
    background-size: contain;
}
.avatar-box span{
    color: #f99d1daf;
}

.info-box,
.mcard{
    padding: 10px 15px;
}
.mcard{
    border: none;

}

.card-content,
.card-time{
    display: inline-block;
}
.card-content{
    width: 70%;
}
.card-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.info-box-location{
    border-bottom: 8px solid rgb(138,4,31) ;
}
.info-phone{
    padding-top: 15px;
    border-top: 8px solid rgb(138, 4, 31);
    border-width: 80%;
}
.avatar-box,
.info-box{
    text-align: center;
}

.title{
    text-decoration: underline;
    text-decoration-color: #f99d1daf;
    text-decoration-thickness: 10px;
    text-underline-offset: 0.3px;
    /* #e4e4e4
    #d1cdcd
    #782222
    #dddddd */
}
.info-box-icon p,
.info-box-location p{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
}
.info-box-icon i,
.info-box-location i{
    padding-right: 15px;
}

