*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}


.container{
    border-radius: 8px;
}

.img-box{
    width: 180px;
    height: 180px;
    background-color: slategray;
    border: 8px solid rgb(138, 4, 31);
    border-radius: 100%;
    margin: 0 auto;
    background-image: url("../bestavt.jpg");
    background-position: center;
    background-size: contain;
}
.avatar-box span{
    color: #f99d1daf;
}

.info-box,
.mcard{
    padding: 10px 15px;
}

.mcard{
    border: none;
}

.card-content,
.card-time{
    display: inline-block;
}

.card-content{
    font-weight: bold;
    width: 70%;
}

.card-content-normal{
    width: 70%;
    font-style: italic;
}

.card-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.info-box-location{
    border-bottom: 8px solid rgb(138,4,31) ;
}

.info-phone{
    padding-top: 15px;
    border-top: 8px solid rgb(138, 4, 31);
    border-width: 80%;
}

.avatar-box,
.info-box{
    text-align: center;
}

.info-github a,
.info-github a:hover{
    text-decoration: none;
    color: black;
}

.title{
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
} 

.title a {
    color: black;
}
.title span a,
.title span a:hover{
    color: black;
    text-decoration: none;
}

.title span a:hover{
    color: turquoise;
}

.title::after{
    display: inline-block;
    content: " \00a0 \00a0\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0";
    height: 15px;
    background-color: #f99d1daf;
    position: relative;
    top: 20px;
    left: -128px;
    z-index: -1;
}


.info-box-icon p,
.info-box-location p{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
}
.info-box-icon i,
.info-box-location i{
    padding-right: 15px;
}

